// codepen only styles
.modal-link {
  width: 150px;
  height: 40px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  border: none;
  border-radius: 5px;
  background: #00bfff;
  color: white;
  text-transform: uppercase;
  
}

.anotherPostContent {
    outline: none;
    width: 100%;
    height: 300px;
    border: none;
}


@media only screen and (min-width: 768px) {
  .hide {
    display: none;
  }
  .show {
    display: block!important;
  }
    .modal-wrapper {
        z-index: 999;
/*
        position: absolute;
        left: calc((100vw - 600px)/2); // center the modal horizontally
*/
    }

    .modal-test {
        display: none;
        position: fixed;
        width: 80%;
        min-height: 50%;
        padding: 20px 15px;
        background: #FEFEFE;
        color: #000000;
        text-align: center;
        left: 10%;
        top: 15%;
        border:1px solid lightgrey;
        border-radius: 10px;
    }
    
    .close-modal {
        display: none;
        position: absolute;
        top: 0px;
        right: 15px;
        cursor: pointer;
    }


    .entry-content p {
        font-size: 16px;
    }    
}
// end of media query

@media only screen and (min-width: 1030px) {}
// end of media query